/* line 2, ../../app/assets/stylesheets/achievements.css.scss */
.achievements .achievement {
  width: 280px;
  margin: 5px;
}

/* line 12, ../../app/assets/stylesheets/achievements.css.scss */
#state-dropdown-menu {
  width: 400px;
}
/* line 15, ../../app/assets/stylesheets/achievements.css.scss */
#state-dropdown-menu ul {
  width: 50%;
  float: left;
}

/* line 25, ../../app/assets/stylesheets/achievements.css.scss */
.state-neg .orange {
  color: #3a87ad;
}
