/* line 1, ../../app/assets/stylesheets/milestones.css.scss */
.alert.alert-info.dl-horizontal {
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("/assets/done.png");
}
