/* line 21, ../../app/assets/stylesheets/plans.css.scss */
.plan-tiny {
  width: 27px;
  height: 27px;
}

/* line 26, ../../app/assets/stylesheets/plans.css.scss */
.plan-small {
  width: 40px;
  height: 40px;
}

/* line 31, ../../app/assets/stylesheets/plans.css.scss */
.plan-medium {
  width: 100px;
  height: 100px;
}

/* line 36, ../../app/assets/stylesheets/plans.css.scss */
.plan-xlarge {
  width: 250px;
  height: 250px;
}

/* line 40, ../../app/assets/stylesheets/plans.css.scss */
.plan-large {
  width: 200px;
  height: 200px;
}

/* line 46, ../../app/assets/stylesheets/plans.css.scss */
#no-plan-container {
  border: 1px dotted black;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
/* line 53, ../../app/assets/stylesheets/plans.css.scss */
#no-plan-container a {
  font-size: 20px;
}
/* line 55, ../../app/assets/stylesheets/plans.css.scss */
#no-plan-container p {
  color: #999999;
  margin-top: 10px;
  font-style: italic;
}

/* line 62, ../../app/assets/stylesheets/plans.css.scss */
.icon-arrow-down {
  font-size: 60px;
  color: #20a8e9;
}

/* line 68, ../../app/assets/stylesheets/plans.css.scss */
.plan-info li {
  color: darkorange;
}
/* line 69, ../../app/assets/stylesheets/plans.css.scss */
.plan-info [class^="icon-"] {
  width: 20px;
  display: inline-block;
}
/* line 73, ../../app/assets/stylesheets/plans.css.scss */
.plan-info [class^="icon-"] + span {
  margin-right: 10px;
}
/* line 74, ../../app/assets/stylesheets/plans.css.scss */
.plan-info [class^="icon-"], .plan-info [class^="icon-"] + span {
  color: gray;
}
/* line 76, ../../app/assets/stylesheets/plans.css.scss */
.plan-info .span8 {
  padding-left: 10px;
}

/* line 79, ../../app/assets/stylesheets/plans.css.scss */
.empty-field {
  border: 1px solid red;
}

/* line 81, ../../app/assets/stylesheets/plans.css.scss */
a.missing-info, .missing-info {
  color: #ff8c00;
  font-style: italic;
}

/* line 86, ../../app/assets/stylesheets/plans.css.scss */
.joyride-tip-guide .quote {
  color: #ffffff;
}

/* line 90, ../../app/assets/stylesheets/plans.css.scss */
.quote {
  text-align: left;
  font-size: 14px;
  color: #6793B9;
  font-style: italic;
  margin: 0 0 0 0;
  padding: 3px 0 3px 0px;
}

/* line 99, ../../app/assets/stylesheets/plans.css.scss */
.plan-status {
  margin-bottom: 50px;
}
/* line 102, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .plan-left {
  width: 110px;
  float: left;
}
/* line 107, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .plan-right {
  float: left;
}
/* line 112, ../../app/assets/stylesheets/plans.css.scss */
.plan-status h2 a, .plan-status h2 a:hover {
  color: #ff8c00;
}
/* line 115, ../../app/assets/stylesheets/plans.css.scss */
.plan-status strong {
  color: #ff8c00;
  font-weight: normal;
}
/* line 120, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .status {
  padding-bottom: 15px;
  padding-left: 40px;
  background-position: left top;
  background-repeat: no-repeat;
}
/* line 126, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .status .quote {
  display: none;
  padding: 3px 0 3px 0px;
}
/* line 132, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .plan-success-failure, .plan-status .plan-road-blocks {
  margin-top: 10px;
}
/* line 136, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .plan-success-failure li .plan-field, .plan-status .plan-success-failure li .missing-info, .plan-status .plan-road-blocks li .plan-field, .plan-status .plan-road-blocks li .missing-info {
  padding-left: 10px;
  color: #ff8c00;
}
/* line 143, ../../app/assets/stylesheets/plans.css.scss */
.plan-status .round-container {
  border: 1px dotted black;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  padding: 10px;
}
