= simple_form_for [@commentable, @comment] do |f|
  = f.input :comment, label: false, input_html: { rows: 2, class: 'input-xxlarge' }
  = f.submit value: 'Submit', class: 'btn'
  = hidden_field_tag :back, params[:back]
