.text-center
  %p= image_tag 'team4.jpg'
  %p Have a new goal or task that needs an extra boost from your team?
  = link_to 'Ask Your Team To Hold You Accountable', new_accountable_path, class: 'btn btn-success btn-large'
%hr.soften
