- start_date = nil if !defined? start_date
- temp_date, end_date = start_end(start_date, days)
- first = true
- while temp_date <= end_date
  - day_schedules = schedules_on_date(schedules, temp_date)
  %ul.schedule-of-day{ class: schedule_day_class(temp_date) }
    %li.text-center
      = temp_date.strftime('%A <br> %m/%d').html_safe
    = render partial: 'schedules/schedule', collection: day_schedules, locals: { mode: mode, date: temp_date }
    %li.text-center{ id: ('joyride-schedule-button' if first) }
      = icon_for(:calendar)
      = link_to('Add schedule', new_schedule_path(date: temp_date), class: 'btn btn-success')
    - first = false
  - temp_date += 1.day
