- start_date = nil if !defined? start_date
- temp_date, end_date = start_end(start_date, days, mode)

- while temp_date <= end_date
  - schedule = schedules_on_date(schedules, temp_date)
  - if schedule.present?
    %ul.schedule-of-day{ :class => schedule_day_class(temp_date) }
      %li.text-center
        = temp_date.strftime('%A %m/%d')
      - schedule.each do |s|
        %li
          = show_task(mode, temp_date, s)
      - if mode == 'schedule' || mode == 'edit'
        %li.text-center= link_to('Add schedule', new_schedule_path(date: temp_date))
  - temp_date += 1.day
