.text-center
  %h1.muted Happy Achiever is Based on This Belief
  %h2 You don't need to wait to be happy after you achieved your goal.<br>You can feel happy if you are growing, learning and enjoy the process.

%hr

%h3 This is how it works:


You use the

<strong><u>happy tool</u></strong> to keep yourself in a positive state.  The tool helps you understand why you feel how you feel and it records your learning in our system.

You use the <strong><u>goals tool</u></strong> to setup your goals, strategize a plan, and create tasks to work on.  After completed a task, you marked it as an achievement and write down what you learned.

We organize what you have <strong><u>learned</u></strong> so you easily review it.


%h3
  Let's try the happy tool:

.well
  .text-center
    = render 'achievements/new_state_achievement'
-#
-#<br><br><br><br><br><br><br><br><br><br><br><br><br>
-#%h2 Happy Achiever focuses on three things: Emotional State, Goals, and Learning.
-#
-#
-#%h3
-#  %u Emotional STATE
-#
-#%p
-#  Why is it important? Everybody wants to feel great everyday.  However, everyday you go through different emotions.  Understand why you feel how you feel is valuable and it is a learning experience. Also if you are feeling lousy, it is really difficult to take actions on your goals.
-#
-#%h3
-#  %u Manage Your STATE
-#
-#%p
-#  You will use this tool to record your state everyday.
-#  %ul
-#    %li When you feel great, write down why.
-#    %li When you feel bad, it has steps to help you understand why you are feeling that way.
-#    %li You can use it more than once a day.
