.text-center
  %h1 Happy Achiever is Based on This Belief
  -#%h2 You don't need to wait to be happy after you achieved your goal.<br>You can feel happy if you are growing, learning and enjoy the process.

%table.first-use-section
  %tr
    %td#happy-is-not
      %h2
        %strong Happiness is not:
      %h3 Be able to get whatever you want
      .muted Movie star who has fame and fortune but is still un-happy; filthy rich people with fancy toys and fast cars still find themselves empty.
      %h3 Rockstar happiness
      .muted This is the time when you have reached a certain goal you set in your life - e.g. finished a marathon, get promoted, inked a business deal.  This happiness could be meaningful but it is not long lasting.
      %h3 Lowered expectation
      .muted If you lower your expectation, you might not be disappointed.  But this happiness is short-term.

    %td.happy-definition#happy-is{valign: 'top'}
      %h2
        %strong Happiness is:
      %h3 Grow
      %h3 Giving
      %h3 Moving forward in your life
      %h3 Progress
      %i If you are growing, giving, moving forward in your life, making progress personally, professionally, emotionally, spiritually, you will find true long lasting happiness.

%h2.text-center.first-use-section <i><span class='orange'>BEING A HAPPY ACHIEVER</span>, it means we celebrate each step we made toward our goals, be proud of what we have achieved, enjoy the journey, avoid repeating mistake by using what we have learned, if we feel down and want to stop, use one of the tool provided to cheer ourselves up so we can continue to grow.</i>

.first-use-section
  %h2.text-center How it works:
  %p Happy Achiever is composed of two tools - the <span class='orange'>state tool</span> and <span class='orange'>goal tool</span>.
  %p Use <span class='orange'>state tool</span> to keep yourself in a positive state.  It helps you understand why you have that feeling and it records your learning in our system.
  %p Use <span class='orange'>goals tool</span> to setup your goals, strategize a plan, and create tasks to work on.  After completed a task, you marked it as an achievement and write down what you learned.
  %p We motivate your to achieve your goal and show you the progress you have made in your life.

.first-use-section
  .text-center
    %h2
      Let's start with the state tool:

  .well
    .text-center
      = render 'achievements/new_state_achievement'

:javascript
  $('.dropdown').addClass('dropup')
-# Happy Achiever focuses on three things: Emotional State, Goals, and Learning.
-# Emotional STATE - Why is it important? Everybody wants to feel great everyday.  However, everyday you go through different emotions.  Understand why you feel how you feel is valuable and it is a learning experience. Also if you are feeling lousy, it is really difficult to take actions on your goals.
-# Manage Your STATE
-#  You will use this tool to record your state everyday.
-#  %ul
-#    %li When you feel great, write down why.
-#    %li When you feel bad, it has steps to help you understand why you are feeling that way.
-#    %li You can use it more than once a day.
