.row.home
  .span9
    %h1 Do you know?
    %ul.large
      %li Only 1 in 3 people said they are very happy
      %li Just 8% of people achieve their New Year's resolutions

    %br

    %h1 Happy Achiever is designed to fix this problem.  It will:
    %ul.large
      %li Help you achieve happiness
      %li Motivate you to achieve your goals
      %li Record your journey & learning

    %br

    %h1 Please join us to be a <span class='orange'>Happy Achiever</span>!

    %br

    = link_to 'Register', new_user_registration_path, class: 'btn btn-large btn-warning'
    &nbsp;
    &nbsp;
    = link_to 'Login', new_user_session_path, class: 'btn btn-large btn-success'
    &nbsp;
    &nbsp;
    = link_to 'View Demo', new_user_session_path, class: 'btn btn-large btn-info'

  .span3
