.text-center
  %h1 How it works:
  .row
    .span6
      = image_tag 'HA_diagram.png'
    .span6.text-left
      %h2.orange State Management
      %p Keep yourself in a positive state.  If you feel down, it helps you understand why you have that feeling and it records your learning in our system.
      %h2.orange Goals Management and Tracking
      %p Setup your goals, strategize a plan, and create tasks to work on.  After completed a task, marked it as an achievement and write down what you learned.
      %h2.orange Achievements and Learning Tracking
      %p We track your achievements, organize your learning, and show you how much you have growth and progressed.
