3-7-14
Site was down briefly at 4pm.  Thank you Tim for emailing me!  I think some of the SQL are slow.  Going to optimize it.
Talked to Rich Hilton today. I asked for his help on the UI/UX part of the site and I feel very grateful that he is interested in it.  We will chat more next week.

3-6-14
Made some changes to the live feed.  I have some idea on how to improve the first use experience (Thanks to Kelsey).  Can't wait to work on it.

3-5-14
Got 3 more signup.  Marney Reid twitted about my site. Nice!
Met with Kelsey, she is amazing.  Jaime emailed me on some suggestions.  Going to make the changes when I get some time.

3-4-14
Attended live your legend group.  Guest speaker Marney Reid is great.  Felt great to meet CJ and Jaime again, and felt grateful to hear their experience using HA.  I learned something about social marketing.

3-3-14
Redo the homepage in one day because the current one doesn't explain clear enough.  And I want to print it out to show it to the people in the LYL.

3-2-14
Felt the lack of support and uncertainty but finally overcame it by using my own tool.  At least I know happy achiever works for me and I am the best target audience of my website.

2-28-14
Checked the website on iphone.  It doesn't look so bad. Worked on email notification.  I think it will motivate people to come back.

2-26-14
Feeling a little bit down because some users stopped using it.

2-25-14
Feeling great because I finished the live feed and support buttons.  It should bring some fun to the site.


