3-7
Site was down briefly at 4pm.  Thank you Tim for emailing me!  I think some of the SQL are slow.  Going to optimize it.
Talked to Rich Hilton today. I asked for his help on the UI/UX part of the site and I feel very grateful that he is interested in it.  We will chat more next week.

3-6
Made some changes to the live feed.  I have some idea on how to improve the first use experience (Thanks to Kelsey).  Can't wait to work on it.

Todo list
Expand the live feed section
Add goals of other users on the homepage
Support email notification
Ability to add a comment when sending support
Be able to open the Emoji Chart to a full page and view previous date

3-5
Get 3 more signup.  Marney Reid twitted about my site. Nice!
Met with Kelsey, she is amazing.  Jaime emailed me on some suggestions.  Going to make the changes when I get some time.

Todo list:
Sort milestone with newest on top
Achievement modal when completed a milestone


3-4
Attended live your legend group.  Guest speaker Marney Reid is great.  Good to meet CJ and Jaime again and good to hear their experience using HA.  Met the Heysoul girls again. Learn about social marketing.

3-3
Redo the homepage in one day because the current one doesn't explain clear enough.  And what to print it out to show it to the people in the meetup

3-2
Felt the lack of support and uncertainty but finally overcame it by using my own tool.  At least I know happy achiever works for me and I am the best target audience of my website!

2-28
Checked the website on iphone, doesn't look so bad. Worked on email notification.  I think it will motivate people to come back and achieve their goals.

2-26
Feeling a little bit down because some users stopped using it for 2 weeks.

2-25
Feeling great and achieved because I finished the live feed and support buttons.  It should bring some fun to the site.


