%h1 You deserve feeling EXTRAORDINARY, not just So-So because...

%h2.section You are growing everyday and getting closer to your goals:
= render 'achievements/count'
%h2.section These are many things good things around you:
%ol
  - Grateful.all_gratefuls.each do |g|
    %li= g

%h2.section Lastly, change your physiology will change your emotion instantly.
%p
  %strong PLEASE DO THIS NOW!
%ul
  %li Stand up, chest up, and stretch your arms as high as you can into the air
  %li Take several really deep breaths
  %li Jump up and down for a little, do some fist pump and stare straight ahead like you're ready to take on the world.

%br
%p
  %strong

= simple_form_for [@achievement, @empowerment] do |f|
  %p
    = f.submit value: 'Next', class: 'btn btn-success btn-large'
