- title "New Empowerment"

- if @achievement.state_id == Achievement::UNENERGIZED
  = render 'energize'
- else
  = render 'form'
-#- elsif @achievement.state_id == Achievement::SOSO
-#  - if current_user.achievements.count > 0 && current_user.gratefuls.count > 0
-#    = render 'soso'
-#  - else
-#    = render 'soso_new_user'
