#plan_modal.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    %h1= icon_for(:trophy, 'Awesome!')
  .modal-body
    %h3 Great Job on <span class='orange'>TAKING THE ACTION</span> to write down your goal!  A Harvert study shows that 97% of people don't have written goals and plans! <span class='orange'>YOU ARE THE TOP 3%</span>!
    %p.text-center
      = image_tag 'clapping.jpg'

    - if current_user.plans.count > 1
      %h3 What's Next:
      %ul
        %li <strong>COMPLETE</strong> the "80% Psychology" to increase motivation!
        %li <strong>ADD</strong> more tasks if needed!
        %li <strong>START SCHEDULING</strong> for your week!
  .modal-footer
    = link_to 'Done!', '#', data: { dismiss: 'modal' }

:javascript
  window.onLoadModal = '#plan_modal';
