.achievements {
  .achievement {
    width: 280px;
    margin: 5px;

    .lesson {
    }
  }
}


#state-dropdown-menu {
  width: 400px;

  ul {
    width: 50%;
    float: left;
  }
}

#achievement_modal {
  .modal-body {
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    strong {
      color: #ff8c00;
      font-weight: normal;
    }
  }
}
