.comments {
  form { margin: 5px 0; }
  p {
    font-size: 14px;
    padding: 2px 5px;
    margin-bottom: 5px;
    background-color: #edeff4;

    .datetime {
      color: #aaa;
      font-size: 12px;
    }
  }
  .input-append { margin-bottom: 0px; }
}
