section { padding-bottom: 30px; }

section > .page-header, section > .lead {
  color: #5a5a5a;
}

.hide { display: none; }

.well h3 { margin: 0px; }

h1, h2, h3, h4, h5, h6 {
  .sub-text {
    color: #aaaaaa;
  }
}

[class^="icon-"].on-left, [class*=" icon-"].on-left {
  padding-right: 0.3em;
}

[class^="icon-"].on-right, [class*=" icon-"].on-right {
  padding-left: 0.3em;
}

input[type=radio] {
  margin-right: 5px;
  margin-left: 5px;
}

@import 'font-awesome';


.content-section {

  .header {
    background-color: #fbb450;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
  }

  p {
    font-size: 16px;
    padding-bottom: 10px;

    .label {
      font-weight: bold;
    }
  }
}
