section { padding-bottom: 30px; }

section > .page-header, section > .lead {
  color: #5a5a5a;
}

.hide { display: none; }

.well h3 { margin: 0px; }

h1, h2, h3, h4, h5, h6 {
  .sub-text {
    color: #aaaaaa;
  }
}

[class^="icon-"].on-left, [class*=" icon-"].on-left {
  padding-right: 0.3em;
}

[class^="icon-"].on-right, [class*=" icon-"].on-right {
  padding-left: 0.3em;
}

@import 'font-awesome';
