@import 'compass/css3';
@import 'compass/utilities';
@import 'font-awesome';

section { padding-bottom: 30px; }

.hide { display: none; }

.well h3 { margin: 0px; }

[class^="icon-"].on-left, [class*=" icon-"].on-left {
  padding-right: 0.3em;
}

[class^="icon-"].on-right, [class*=" icon-"].on-right {
  padding-left: 0.3em;
}

input[type=radio] {
  margin-right: 5px;
  margin-left: 5px;
  margin-left: 5px;
}


.content-section {
  .header {
    padding: 10px;
    font-size: 44px;
    line-height: 1.2em;
    font-weight: bold;
    color: #006dcc;
  }

  p {
    font-size: 15px;

    .label {
      font-weight: bold;
    }
  }
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 19px; }
h4 { font-size: 17px; }
h5 { font-size: 15px; }
h6 { font-size: 15px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.3em;
  &.section { color: #006dcc; }
}

//h1 { line-height: 60px; }


body {
  padding-top: 60px;
  font-size: 15px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

.alert { margin-top: 10px; }

table {
  td.title {
    white-space: nowrap;
    color: #999999;
  }
  [class^="icon-"] {
    font-size: 21px;
    width:25px;
    @include inline-block(false);
    text-align: center;
  }
}

.modal-body  b { color: #006dcc; }

.todo { color: #b94a48; }

.attention { color: #b94a48; }

.orange {
  color: #ff8c00;
  display: inline
}

.clear-both { clear:both; }

.mright { margin-right: 5px; }

.numberCircle {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  width: 20px;
  height: 20px;
  padding: 8px;

  background: #ffffff;
  border: 2px solid #006dcc;
  color: #006dcc;
  text-align: center;

  font: 18px Arial, sans-serif;
  margin-right: 5px;
  display: inline-block;
}

.navbar-inner
{
  background-color: #20a8e9;
  background-image: none;
  color: white;
}

.navbar .brand, .navbar .nav > li > a
{
  color: white;
  text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: #20a8e9;
  box-shadow: none;
  color: white;
  text-decoration: underline;
}

hr.soften {
  height: 1px;
  margin: 40px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

hr.tight {
  margin: 10px 0;
}

.well.tight {
  display: inline-block;
}

.well.home-stats {
  padding: 5px;

  .header {
    font-size: 18px;
    display: inline-block;
    font-weight: 400;
    line-height: 25px;
    padding: 0px 5px;
  }

  a { margin-right: 20px; }
}

.modal-body {
  h3 {
    margin-top: 0px;
    //margin-bottom: 0px;
  }

  strong {
    color: #ff8c00;
    font-weight: normal;
  }
}

.large, .large li {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.8em;
  color: #0088cc;
}

.error_messages {
  padding: 10px;
  color: #b94a48;
  background-color: #f2dede;
}

#footer {
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  color: #666;
}

//.supporters {
//  padding-left: 10px;
//  font-size: 14px;
//}

.activity {
  font-size: 14px;

  .activity-meta {
    a {
      color: #ff8c00;
      padding-right: 2px;
      text-decoration: underline;
    }
    font-size: 12px;
    color: #999;
  }
}

.highlight { background-color: yellow; }
