@import 'compass/css3';
@import 'compass/utilities';
@import 'font-awesome';

section { padding-bottom: 30px; }

.hide { display: none; }

.well h3 { margin: 0px; }

[class^="icon-"].on-left, [class*=" icon-"].on-left {
  padding-right: 0.3em;
}

[class^="icon-"].on-right, [class*=" icon-"].on-right {
  padding-left: 0.3em;
}

input[type=radio] {
  margin-right: 5px;
  margin-left: 5px;
}


.content-section {
  .header {
    padding: 10px;
    font-size: 44px;
    line-height: 1.2em;
    font-weight: bold;
    color: #006dcc;
  }

  p {
    font-size: 16px;

    .label {
      font-weight: bold;
    }
  }
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  &.section { color: #006dcc; }
}

table {
  td.title {
    white-space: nowrap;
    color: #999999;
  }
  [class^="icon-"] {
    font-size: 21px;
    width:25px;
    @include inline-block(false);
    text-align: center;
  }
}

.modal-body {
  b { color: #006dcc; }
}

.todo { color: #b94a48; }

.attention { color: #b94a48; }

.clear-both { clear:both; }

.mright { margin-right: 5px; }
