@media (max-width: 480px) {
  h1 {
    font-size: 18px !important;
    line-height: 27px !important;
    font-weight: bold !important;

    small { font-size: 16px; }
  }

  h2 {
    font-size: 16px !important;
    line-height: 25px;
    font-weight: bold !important;

    small { font-size: 14px; }
  }

  h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal !important;
  }

  h4 {
    font-size: 13px;
    line-height: 22px;
    font-weight: normal !important;
  }

  .large li {
    font-size: 18px !important;
    line-height: 27px !important;
    font-weight: normal !important;
  }

  hr.soften { margin: 20px 0; }

  #activities-container { display: none; }
}
