.journey-level {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

#new-state-achievement {
  #state-dropdown-menu li ul li {
    padding: 5px;
  }
}

#chart-container {
  position: relative;

  #chart-hover-text {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 5px;
    width: 100%;
    color: #006dcc;
    background-color: #ffffff;
    //opacity: 0.7;
    padding: 10px;
    font-weight: bold;
    border: solid 1px #000000;
  }

  .chart-image {
    color: black;
  }
}

.highcharts-tooltip span {
  background-color:white;
  opacity:1;
  z-index:9999 !important;
}

#chart-tabs { margin-bottom: 10px; }

#happy-is, #happy-is-not {
  width: 50%;
  padding: 10px;

  .muted { color: #666; }
}

#happy-is { background-color: #FFFFB2; }

#happy-is-not { background-color: #FF8580; }

#recent-states {
  width: 100%;
  height: 250px;
  overflow: auto;
}
