// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.journey-level {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

#new-state-achievement {
  h3 { color: #006dcc; }
}

#chart-container {
  position: relative;

  #chart-hover-text {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 5px;
    width: 100%;
    color: #006dcc;
    background-color: #ffffff;
    //opacity: 0.7;
    padding: 10px;
    font-weight: bold;
    border: solid 1px #000000;
  }

  .chart-image {
    color: black;
  }
}

.highcharts-tooltip span {
  background-color:white;
  opacity:1;
  z-index:9999 !important;
}
