@import 'compass/css3';
@import 'compass/utilities';

.journey-level {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

#new-state-achievement {
  form {
    margin-bottom: 0px;
    #state-dropdown-menu li ul li {
      padding: 5px;
    }
  }
}

#chart-container {
  position: relative;

  #chart-hover-text {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 5px;
    width: 95%;
    color: #006dcc;
    background-color: #ffffff;
    //opacity: 0.7;
    padding: 10px;
    border: solid 1px #000000;
  }
}

.highcharts-tooltip span {
  background-color:white;
  opacity:1;
  z-index:9999 !important;
}

#chart-tabs { margin-bottom: 10px; }

#happy-is, #happy-is-not {
  width: 50%;
  padding: 10px;

  .muted { color: #666; }
}

#happy-is { background-color: #FFFFB2; }

#happy-is-not { background-color: #FF8580; }

#recent-states, #activities {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.homepage-quote {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px sold black;
  @include border-radius(8px, 8px);
  text-align: center;
  padding: 30px 10px;
  font-style: italic;
  font-size: 18px;
  color: #333;

  &.bg1 { background-image: url('quote-bg1.jpg'); }
  &.bg2 { background-image: url('quote-bg2.jpg'); }
  &.bg3 { background-image: url('quote-bg3.jpg'); }
  &.bg4 { background-image: url('quote-bg4.jpg'); }
  &.bg5 { background-image: url('quote-bg5.jpg'); }
  &.bg6 { background-image: url('quote-bg6.jpg'); }
}

.feature {
  padding: 0 20px;

  .alert {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
  }
}

#today-schedule {
  img {
    float: left;
    margin-right: 20px;
  }

  div {
    float: left;
    padding-right: 20px;
  }
}
