.plan-modal {
  .motivation {
    i { color: red; }

    .look {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .data {
    padding-bottom: 20px;

    i { color: #468847; }
  }
}

.plan-tiny {
  width: 27px;
  height: 27px;
}

.plan-small {
  width: 40px;
  height: 40px;
}

.plan-medium {
  width: 100px;
  height: 100px;
}

.plan-large {
  width: 200px;
  height: 200px;
}

.plan-xlarge {
  width: 250px;
  height: 250px;
}
