@import 'compass/css3';
@import 'compass/utilities';

//.plan-modal {
//  .motivation {
//    i { color: red; }
//
//    .look {
//      font-weight: bold;
//      text-decoration: underline;
//    }
//  }
//
//  .data {
//    padding-bottom: 20px;
//
//    i { color: #468847; }
//  }
//}

.plan-tiny {
  width: 27px;
  height: 27px;
}

.plan-small {
  width: 40px;
  height: 40px;
}

.plan-medium {
  width: 100px;
  height: 100px;
}

.plan-xlarge {
  width: 250px;
  height: 250px;
}
.plan-large {
  width: 200px;
  height: 200px;
}

.icon-arrow-down {
  font-size: 60px;
  color: #20a8e9;
}

.plan-info {
  li { color: #ff8c00 }
  [class^="icon-"] {
    width: 20px;
    display: inline-block;
  }
  [class^="icon-"] + span { margin-right: 10px; }
  [class^="icon-"], [class^="icon-"] + span { color: gray; }

  .span8 { padding-left: 10px; }
}

.empty-field { border: 1px solid red; }

a.missing-info, .missing-info {
  color: #ff8c00;
  font-style: italic;
}

.joyride-tip-guide .quote {
  color: #ffffff;
}

.quote {
  text-align: left;
  font-size: 14px;
  color: #6793B9;
  font-style: italic;
  margin: 0 0 0 0;
  padding: 3px 0 3px 0px;
}

.plan-status {
  .plan-left {
    width: 110px;
    float: left;
  }

  .plan-right{
    float:left;
  }

  h2 {
    a, a:hover { color: #ff8c00}
  }

  strong {
    color: #ff8c00;
    font-weight: normal;
  }

  .status {
    padding-bottom: 15px;
    padding-left: 40px;
    background-position: left top;
    background-repeat: no-repeat;

    .quote {
      display: none;
      padding: 3px 0 3px 0px;
    }
  }

  .plan-success-failure, .plan-road-blocks {
    margin-top: 10px;

    li {
      .plan-field, .missing-info {
        padding-left: 10px;
        color: #ff8c00;
      }
    }
  }

  .supporters {

  }
}
