.todo {
  color: #b94a48;
}

.plan-overview {
  padding-bottom: 40px;

  h3 { margin-top: 0px; }

  .motivation {
    i { color: red; }

    .look {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .data {
    padding-bottom: 20px;

    i { color: #468847; }
  }
}

.right-aside {
  border-left: 1px solid #808080;
  padding-left: 10px;
}

.list-no-style {
  ul {
    list-style-type: none;
  }
}

ul.schedule-list {
  margin-left: 0px;

  li {
    margin: 2px 0px;
    border: 1px solid #ddd;
    padding: 10px 5px;
    overflow: hidden;
    
    .schedule-thumb {
      float: left;
    }

    .schedule-text {
      //width: 235px;
      float: left;
      padding-left: 5px;
    }
    
    a {
      padding-left: 10px;
    }

    .action {
      float: right;

      a { margin-left: 5px; }
    }
  }
}

.span4 ul.schedule-list {
  .schedule-text { width: 235px; }
}

.today {
  color: #b94a48;
  font-weight: bold;
}

.plan-small {
  width: 40px;
  height: 40px;
}

.plan-medium {
  width: 100px;
  height: 100px;
}

.plan-large {
  width: 200px;
  height: 200px;
}

.plan {
  overflow: hidden;
  margin-bottom: 10px;

  img, h1 {
    float: left;
  }

  h1 {
    padding-left: 10px;
  }

  .action {
    clear: both;
    float: right;
  }
}

.plan-section {

  .header {
    background-color: #fbb450;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    padding-bottom: 10px;

    .label {
      font-weight: bold;
    }
  }
}
