.weekly-schedule {
  .schedule-of-day {
    &.day1, &.day2, &.day3, &.day4, &.day5, &.day6, &.day7 {
      width: 14%;
      float: left;
      margin: 1px;
    }
  }
}

.today {
  background-color: #E2F2FD;
}


ul.schedule-of-day {
  margin-left: 0px;
  list-style-type: none;

  li {
    margin: 2px 0px;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 5px;

    .highlight { background-color: #ffff99; }

    .schedule-thumb {
      float: left;
    }

    a, .label {
      margin-left: 3px;
    }

    .time {
      color: #999;
      font-size: 12px;
    }
  }
}
#two-days {
  ul.schedule-of-day {
    .well { margin-bottom: 0px; }
    .time { font-size: 14px; }

    u {
      color: #999;
      text-decoration: none;
    }
  }
}
