.weekly-schedule {
  .schedule-of-day {
    &.day1, &.day2, &.day3, &.day4, &.day5  {
      width: 20%;
      float: left;
    }
    &.day6 {
      width: 50%;
      float: left;
      clear: left;
    }

    &.day7 {
      width: 50%;
      float: left;
    }
  }
}

.today {
  color: #b94a48;
  font-weight: bold;
}


.span4 ul.schedule-of-day {
  .task-description { width: 235px; }
}


ul.schedule-of-day {
  margin-left: 0px;

  li {
    margin: 2px 0px;
    border: 1px solid #ddd;
    overflow: hidden;

    > div { padding: 10px 5px; }

    .highlight { background-color: #ffff99; }

    .schedule-thumb {
      float: left;
    }

    .task-description {
      float: left;
      padding-left: 5px;
    }

    a {
      padding-left: 10px;
    }

    .action {
      float: right;

      a { margin-left: 5px; }
    }

    .bottom-action {
      clear: both;
      text-align: right;
    }

    .time {
      color: #999999;
    }
  }
}

ul.schedule-of-day { img.schedule-thumb {display: none}}
