%p
  You have achieved:
  %ul.unstyled
    %li
      %span.label.label-info= pluralize(Achievement.count_last_x_days(7), 'time')
      last week
    %li
      %span.label.label-info= pluralize(Achievement.count_last_x_days(30), 'time')
      last month
    %li
      %span.label.label-info= pluralize(Achievement.count, 'time')
      total
