#achievement_modal.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    %h1= icon_for(:trophy, 'Congratulation!')

  .modal-body
    - if msg == 'first'
      .text-center
        %h2 You've created the first ACHIEVEMENT!
        = image_tag 'star.png', :size => "100x100"
        %h3
          We believe that whenever you took an action:
      %p
        You have <strong>GROWTH</strong><br>
        You have <strong>LEARNED</strong> something new<br>
        You are <strong>ONE STEP CLOSER</strong> to your goal<br>
        This is an <strong>ACHIEVEMENT</strong> worth to <strong>RECORD</strong> and <strong>CELEBRATE</strong><br>
        And <strong>WE</strong> are here to celebrate with <strong>YOU</strong>

    - elsif msg == 'success'
      %p success
  .modal-footer
    = link_to 'Get Started!', '#', data: { dismiss: 'modal' }

:javascript
  window.onLoadModal = '#achievement_modal';
