- title "Task Achievement"

= render 'achievement', achievement: @achievement

- if current_user == @achievement.user
  - if emp = Empowerment.find_by_achievement_id(@achievement.id)
    - details = empowerment_text(emp)

  - if details.present?
    .well
      %p
        %strong The following is only shown to you.  Other people cannot see it.
      %p
        = details

= render 'comments/list', commentable: @achievement

= votable_button(@achievement)
