#no-plan-container.empty-well
  .text-center= link_to 'Click here to add a new goal', new_plan_path, id: 'add-goal'
  %p.text-center.muted "Setting goals is the first step in turning the invisible into the visible." - Tony Robbins
-#.well
-#  %h2 Why you MUST have WRITTEN goal?
-#  .text-center= image_tag 'http://uberbartools.files.wordpress.com/2011/07/dream-reality.jpg', size: '200x200'
-#
-#  %p Your goals maybe you want to be rich, thin, happy, successful, and live your dreams.
-#
-#  %p Are they written?
-#
-#  %p If they are not written, clear,  specific, measurable they are simply wishes and dream.
-#
-#
-#  %p.triangle-border
-#    Only 3% of adults have written goals, and they achieved 10 times more than those with no goals at all.
-#  %p
-#    = image_tag 'http://strategyandglobalization.com/wp-content/uploads/2014/01/HBR-logo.png', size: '100x100'
-#    %br
-#    %strong <i>Harvard Business School Goal Story</i>
-#
-#  %p.triangle-border
-#    Setting goals is the first step in turning the invisible into the visible.
-#  %p
-#    = image_tag 'tony-robbins.jpg', size: '100x150'
-#    %br
-#    %strong <i>Tony Robbins</i>
-#
-#
-#  %p.triangle-border
-#    One common myth people have is "I don’t need written goals; I have them all in my mind." but
-#    people with clear, written goals, accomplish far more than people without."
-#  %p
-#    = image_tag 'http://mydailyjourneytosuccess.files.wordpress.com/2010/03/tracy_brian.jpg', size: '100x150'
-#    %br
-#    %strong <i>Brian Tracy</i>
-#
