- if user.plans.present?
  %h2 You have #{pluralize(user.plans.count, 'Goal')}
  - user.plans.each do |plan|
    = render 'plans/status', plan: plan
    %hr.soften
- else
  %h2 You have not set up a goal yet

#no-plan-container.empty-well
  = link_to 'Click here to add a new goal', new_plan_path, id: 'add-goal'
  %p "Setting goals is the first step in turning the invisible into the visible." - Tony Robbins

