- if user.plans.present?
  %h2.text-center #{you_or_name(user, current_user, 'have')} #{pluralize(user.plans.count, 'Goal')}
  - user.plans.each do |plan|
    = render 'plans/status', plan: plan
    %hr
- else
  %h2 #{you_or_name(user, current_user, 'have')} not set up a goal yet
