.pull-left
  =link_to image_tag(plan.image_path, :class => 'img-polaroid plan-medium mright'), plan_path(plan) if plan.image_path.present?
.pull-left
  %h2= plan.title
.pull-right
  = link_to 'Show', plan
  |
  = link_to icon_for(:edit), edit_plan_path(plan)
  |
  = link_to icon_for(:remove), plan, :confirm => 'Are you sure?', :method => :delete
.clearfix
%hr

