.status{ style: "background-image: url('/assets/target.png')"}
  - if plan.milestones.present?
    - if (milestone = plan.upcoming_milestone).present?
      Next milestone:
      %span.badge.badge-warning= milestone.name
      <strong>#{milestone.from_now}</strong>
    - else
      You don't have any target milestone.  Milestone is important to give you direction.
    .quote &#8220;There is no one giant step that does it, it's a lot of little steps.&#8221; - Peter Cohen
  - else
    Tips: Setting a milestone is useful and important.
    .quote &#8220;A goal without a timeline is simply a dream.&#8221; - Robert Herjavec



