- if plan.achievements && (last_achieved = plan.achievements.reorder('achieved_date').last)
  .status{ style: "background-image: url('/assets/calendar48.png')"}
    Last completed task: #{days_ago(last_achieved.achieved_date)}.
    (<strong>#{last_achieved.task.description.strip}</strong>)
    .quote &#8220;If we want to direct our lives, we must take control of our consistent actions.&#8221; - Tony Robbins
