- if plan.achievements.present?
  .status{ style: "background-image: url('/assets/star32.png')"}
    Great job on completed <strong>#{plan.achievements.count}</strong> achievements for this goal!
    .quote &#8220;We can feel happy while we are working on the goal as long as we are growing, learning and enjoy the process.&#8221; - Tony Robbins
