- if plan.achievements.present?
  .status
    = image_tag 'star32.png', size: '32x32'
    Great job on completing <strong>#{plan.achievements.count}</strong> achievements for this goal!
    .quote &#8220;We can feel happy while we are working on the goal as long as we are growing, learning and enjoy the process.&#8221; - Tony Robbins
