- title "New Goal"
-#.text-center
-#  %h1 Do you know, achieving your goal is:
-#  .well.tight
-#    %h2
-#      <span class='orange'>80% Psychology</span> - Vision, Focus, Dedication
-#    %h2
-#      <span class='orange'>20% Mechanics</span> - Strategy, Technical "HOW" - It is a smaller part.
-#    <i class=muted>"IF YOU WANT IT BAD ENOUGH, YOU CAN FIND A WAY TO ACHIEVE IT!" - Jim Rohn</i>
-#
-#%hr

= render 'form'
