- title "New Plan"
.text-center
  %h1 Do you know, achieving your goal is:
  .well.tight
    %h2
      <span class='orange'>80% Psychology</span> - Vision, Focus, Dedication
    %h2
      <span class='orange'>20% Mechanic</span> - Strategy, Technical "HOW" - It is a smaller part.
    "IF YOU WANT IT BAD ENOUGH, YOU CAN FIND A WAY TO ACHIEVE IT!" - Jim Rohn

%hr

= render 'form'
