.modal.hide.fade{ id: "power_boost" }
  .modal-header
    %button.close{ data: { dismiss: 'modal' } } ×
    %h2
      Your life is abundant:
  .modal-body
    - if current_user && current_user.gratefuls.present?
      %ol
        - arr = []
        - current_user.gratefuls.all.each {|g| arr << g.grateful_1 << g.grateful_2 << g.grateful_3 << g.grateful_4 << g.grateful_5 }
        - arr.reject{ |r|r.blank? }.uniq.each do |g|
          %li= g



